.container{
  margin: 0;
  padding: 0;
  background-color: lightgray;
  background-image: url('../images/bacImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}