
.form__data{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__heading{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submitBtn{
    width:252px;
    margin-top:10px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    border: 0px;
}

.submitBtn:hover{
    background-color: #ff6250;
}

.input-file input[type="file" i]::-webkit-file-upload-button{
    width:100px;
    margin-top:10px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    background-color: black;
}

.input-file input[type="file" i]::-webkit-file-upload-button:hover{
    background-color: #ff6250;
    border: 0px;
}

.ap::-webkit-file-upload-button{
    padding: 15px ;
}

/* .ap:-webkit-file-upload-button {
    padding: 15px ;
    background-color: ${(props) => props.theme.bgSubDiv} ;
    color: ${(props) => props.theme.color} ;
    outline:none ;
    border:none ;
    font-weight:bold ;
  }   */